.bg {
  background-image: url(./assets/bg.svg);
  position: relative;
  background-position: center;
  background-repeat: repeat;
  background-size: fit;
  width: 100%;
}
/* .bg2 {
  background-image: url(./assets/bg2.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
